In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from first_glance import report

In [2]:
report.stats_report('global_co2.csv')

,entry_count,data_type,null_count,mean,std,min,25%,50%,75%,max
country,48058,object,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
year,48058,int64,0,1.926843e+03,5.941485e+01,1750.0,1.883000e+03,1.930000e+03,1.976000e+03,2.022000e+03
population,48058,float64,8563,6.083223e+07,3.285867e+08,222.0,3.464375e+05,2.456362e+06,1.008038e+07,7.975105e+09
gdp,48058,float64,33494,2.677586e+11,2.103151e+12,49980000.0,7.516679e+09,2.597999e+10,1.132942e+11,1.136302e+14
cement_co2,48058,float64,24294,9.109400e+00,6.646355e+01,0.0,0.000000e+00,2.900000e-02,8.340000e-01,1.692404e+03
co2,48058,float64,17750,3.912722e+02,1.855825e+03,0.0,1.830000e-01,3.856000e+00,4.727725e+01,3.714979e+04
coal_co2,48058,float64,22983,1.569639e+02,7.657201e+02,0.0,0.000000e+00,7.030000e-01,1.698800e+01,1.521930e+04
gas_co2,48058,float64,22975,5.127810e+01,3.160338e+02,0.0,0.000000e+00,0.000000e+00,1.344500e+00,7.922112e+03
oil_co2,48058,float64,22947,1.129207e+02,6.294511e+02,0.0,8.400000e-02,1.323000e+00,1.391600e+01,1.237795e+04
share_global_co2,48058,float64,19563,5.163432e+00,1.834465e+01,0.0,2.000000e-03,3.700000e-02,5.180000e-01,1.000000e+02

In [3]:
df = pd.read_csv('global_co2.csv')

In [4]:
#Creating a regex pattern to filter out of the dataframe
exclude_list = ['World', 'Europe', 'countries', 'GCP', 'Asia', 'Africa', 'America', 'International']
pattern = '|'.join(exclude_list)
#Creation of a dataframe of current countries using the created regex pattern
co2_df = df.copy()
co2_df = co2_df[~co2_df['country'].str.contains(pattern, na=False, case=False, regex=True)]
co2_df['co2'].dropna(inplace=True)

In [45]:
def cumulative_co2(direction, entry_count):
    if direction not in {'top', 'bottom'}:
        raise ValueError('Invalid value for direction. Please select "top" or "bottom".')
    df = co2_df[co2_df['co2'].notnull()].groupby('country').sum()[['co2']].sort_values(by='co2', ascending=False)

In [47]:
cumulative_co2('top', 10)

                       co2
country
United States   426914.556
China           260619.243
Russia          119290.814
Germany          93985.871
United Kingdom   78834.706
Japan            67734.911
India            59740.694
France           39397.693
Canada           34613.228
Ukraine          30961.508

In [48]:
cumulitive_co2('bottom', 10)

                     co2
country
Anguilla           3.332
Cook Islands       2.560
Kiribati           2.149
Montserrat         1.634
Christmas Island   1.333
Wallis and Futuna  0.798
Saint Helena       0.429
Tuvalu             0.303
Niue               0.300
Antarctica         0.157

In [6]:
#Creating a co2 per capita column
co2_df.loc[:,'co2_per_capita'] = round((co2_df['co2']*1e6) / co2_df['population'],2)

In [36]:
def per_cap_by_year(direction, entries, year):
    if direction == 'top':
        return co2_df[(co2_df['year'] == year) & (co2_df['co2'].notnull())].sort_values(by='co2_per_capita', ascending=False).head(entries)
    elif direction == 'bottom':
        return co2_df[(co2_df['year'] == year) & (co2_df['co2'].notnull())].sort_values(by='co2_per_capita', ascending=False).tail(entries)

In [39]:
per_cap_by_year('top', 15, 2020)

,country,year,population,gdp,cement_co2,co2,coal_co2,gas_co2,oil_co2,share_global_co2,co2_per_capita
36073,Qatar,2020,2760390.0,NaN,1.362,102.501,0.000,86.818,12.524,0.293,37.13
4162,Bahrain,2020,1477478.0,NaN,0.213,37.396,0.000,33.130,3.609,0.107,25.31
6979,Brunei,2020,441736.0,NaN,0.000,11.102,2.132,5.331,3.353,0.032,25.13
45280,United Arab Emirates,2020,9287286.0,NaN,5.204,216.768,8.086,132.351,69.331,0.619,23.34
43789,Trinidad and Tobago,2020,1518142.0,NaN,0.245,35.030,0.000,30.964,3.444,0.100,23.07
22878,Kuwait,2020,4360451.0,NaN,1.187,97.712,0.000,51.688,43.448,0.279,22.41
30391,New Caledonia,2020,286412.0,NaN,0.028,5.109,2.714,0.000,2.367,0.015,17.84
38343,Saudi Arabia,2020,35997108.0,NaN,25.593,610.773,0.432,261.062,319.430,1.745,16.97
3438,Australia,2020,25670052.0,NaN,2.820,396.685,156.681,83.480,135.380,1.133,15.45
39580,Sint Maarten (Dutch part),2020,43638.0,NaN,0.000,0.652,0.000,0.000,0.652,0.002,14.94
15394,Faroe Islands,2020,52440.0,NaN,NaN,0.758,0.000,0.000,0.758,0.002,14.45
33648,Oman,2020,4543406.0,NaN,2.176,65.429,0.000,51.347,7.174,0.187,14.40
45776,United States,2020,335942016.0,NaN,40.688,4714.628,877.920,1656.255,2047.544,13.467,14.03
8082,Canada,2020,37888704.0,NaN,6.713,522.845,48.517,221.474,227.670,1.494,13.80
22187,Kazakhstan,2020,18979250.0,NaN,4.450,255.486,165.769,32.542,39.694,0.730,13.46

In [37]:
per_cap_by_year('bottom', 10, 2020)

,country,year,population,gdp,cement_co2,co2,coal_co2,gas_co2,oil_co2,share_global_co2,co2_per_capita
8774,Chad,2020,16644707.0,NaN,0.151,2.279,0.000,0.000,1.847,0.007,0.14
26133,Madagascar,2020,28225182.0,NaN,0.058,3.964,1.374,0.000,2.532,0.011,0.14
39135,Sierra Leone,2020,8233973.0,NaN,0.000,1.026,0.000,0.000,1.026,0.003,0.12
44930,Uganda,2020,44404608.0,NaN,0.559,5.538,0.000,0.000,4.979,0.016,0.12
30910,Niger,2020,24333644.0,NaN,0.032,2.817,0.359,0.073,2.283,0.008,0.12
26306,Malawi,2020,19377058.0,NaN,0.240,1.871,0.220,0.000,1.411,0.005,0.10
36596,Rwanda,2020,13146367.0,NaN,0.163,1.372,0.011,0.088,1.110,0.004,0.10
7498,Burundi,2020,12220229.0,NaN,0.003,0.736,0.026,0.000,0.707,0.002,0.06
11466,Democratic Republic of Congo,2020,92853168.0,NaN,0.498,3.710,0.027,0.000,2.748,0.011,0.04
40272,Somalia,2020,16537018.0,NaN,NaN,0.597,0.000,0.000,0.597,0.002,0.04

In [13]:
def country_per_cap_co2(country):
    return co2_df[(co2_df['country'] == country) & (co2_df['co2_per_capita'].notnull())]

In [17]:
country_per_cap_co2('Canada')

,country,year,population,gdp,cement_co2,co2,coal_co2,gas_co2,oil_co2,share_global_co2,co2_per_capita
7852,Canada,1790,816556.0,NaN,NaN,0.004,0.004,0.000,0.000,0.018,0.00
7862,Canada,1800,500000.0,NaN,NaN,0.004,0.004,0.000,0.000,0.011,0.01
7863,Canada,1801,512396.0,NaN,NaN,0.004,0.004,0.000,0.000,0.011,0.01
7864,Canada,1802,525100.0,NaN,NaN,0.004,0.004,0.000,0.000,0.009,0.01
7865,Canada,1803,538119.0,NaN,NaN,0.004,0.004,0.000,0.000,0.012,0.01
...,...,...,...,...,...,...,...,...,...,...,...
8080,Canada,2018,37035260.0,1.669402e+12,6.990,577.066,60.974,230.017,261.441,1.570,15.58
8081,Canada,2019,37522584.0,NaN,7.195,578.588,58.626,231.565,263.154,1.562,15.42
8082,Canada,2020,37888704.0,NaN,6.713,522.845,48.517,221.474,227.670,1.494,13.80
8083,Canada,2021,38155012.0,NaN,7.380,537.174,45.894,228.711,235.891,1.459,14.08
8084,Canada,2022,38454328.0,NaN,7.380,547.944,35.797,240.394,245.074,1.475,14.25

In [ ]:
#Creating a new df for the purpose of displaying percentage of total co2 by category
co2_percent_share = new_df[new_df['co2'].notnull()].drop(columns = ['share_global_co2', 'co2_per_capita'])

In [ ]:
#functionize this!!
#Calculating the percentage of the total Co2 by category
co2_percent_share['coal_prct'] = round(co2_percent_share['coal_co2']/co2_percent_share['co2']*100, 2)
co2_percent_share['gas_prct'] = round(co2_percent_share['gas_co2']/co2_percent_share['co2']*100, 2)
co2_percent_share['oil_prct'] = round(co2_percent_share['oil_co2']/co2_percent_share['co2']*100, 2)
co2_percent_share['cement_prct'] = round(co2_percent_share['cement_co2']/co2_percent_share['co2']*100, 2)

In [ ]:
#Dropping unwanted columns
co2_prct_year = co2_percent_share.drop(columns=['cement_co2', 'coal_co2', 'gas_co2', 'oil_co2', 'population', 'gdp'])

In [ ]:
#Cumulative co2 percent share by category grouped by year
co2_prct_year.groupby('year').sum().drop(columns='country').reset_index()

In [ ]:
co2_prct_country = co2_percent_share[['country', 'co2', 'coal_co2', 'gas_co2', 'oil_co2', 'cement_co2']].groupby('country').sum()

In [ ]:
co2_prct_country['coal_prct'] = round(co2_prct_country['coal_co2']/co2_prct_country['co2']*100, 2)
co2_prct_country['gas_prct'] = round(co2_prct_country['gas_co2']/co2_prct_country['co2']*100, 2)
co2_prct_country['oil_prct'] = round(co2_prct_country['oil_co2']/co2_prct_country['co2']*100, 2)
co2_prct_country['cement_prct'] = round(co2_prct_country['cement_co2']/co2_prct_country['co2']*100, 2)

In [ ]:
co2_prct_country.drop(columns=['coal_co2', 'gas_co2', 'oil_co2', 'cement_co2'], inplace = True)

In [ ]:
co2_prct_country.reset_index(inplace=True)

In [ ]:
co2_prct_country[co2_prct_country['country'] == 'China']

In [ ]:
countries_demo = new_df[new_df['co2'].notnull()][['country', 'year', 'population', 'gdp', 'co2']]

In [ ]:
def country_demo(country):
    df = countries_demo[(countries_demo['country'] == 'Canada') & (countries_demo['population'].notnull()) & (countries_d]
    df = df.reset_index().drop(columns='index')

In [ ]:
can_demo = can_demo[can_demo['year'] >= 1928].reset_index().drop(columns='index')

In [ ]:
can_demo['last_population'] = can_demo['population'].shift(1)
can_demo['pop_prct_chng'] = round((can_demo['population'] - can_demo['last_population'])/can_demo['population']*100, 2)

In [ ]:
can_demo